.map-container {
  position: relative;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
}
.map {
  border: 1px solid #ccc;
  background-color: #202d49;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  .county {
    stroke: #757575;
    stroke-width: 0.05;
  }

  .town {
    stroke: #fff;
    stroke-width: 0.05;
  }
  .village {
    stroke: #fff;
    stroke-width: 0.05;
  }
}
